@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* primary #171718*/

/* secondary #5c62ec*/

.activePath {
  @apply border-b border-[#5c62ec];
}

.media-link {
  @apply h-[36px] w-[36px];
}

.media-link:hover {
  @apply h-[36px] w-[36px] text-[#5c62ec];
}

.tech-icon {
  @apply h-[60px] w-[60px] mx-auto;
}

.about-me p {
  @apply flex text-start leading-relaxed mb-4 text-lg;
}

.icon-about {
  @apply min-w-[32px] min-h-[32px] mr-3;
}
