@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #171718;
  @apply overscroll-x-none;
}

/* primary #171718*/

/* secondary #5c62ec*/

.activePath {
  @apply border-b-4 border-[#5c62ec];
}

.media-link {
  @apply h-[36px] w-[36px];
}

.media-link:hover {
  @apply h-[36px] w-[36px] text-[#5c62ec];
}

.tech-icon {
  @apply h-[60px] w-[60px] mx-auto;
}

.about-me p {
  @apply flex text-start leading-relaxed mb-4 text-lg;
}

.icon-about {
  @apply min-w-[32px] min-h-[32px] mr-3;
}

.contact {
  @apply flex mx-2 items-center;
}

.icon-contact {
  @apply text-2xl md:text-3xl text-[#5c62ec] justify-center mr-1;
}

.contact label p:first-child {
  @apply font-bold text-[#5c62ec];
}

.buttonPurple {
  @apply inline-block rounded bg-[#5c62ec] px-6 pb-2 pt-2.5 font-medium uppercase leading-normal text-white hover:bg-white hover:text-[#5c62ec];
}

/* .contact label {
  @apply md:text-xl md:mb-2;
}


.contact label p:second-child {
  @apply border-y;
} */
